.carousel-item {
    height: 24rem;
    background: #000;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    opacity: 0.5;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}